<menu-comp></menu-comp>
<div *ngIf="purchaserequestandlines">

	<div><span class="jumbotron"><h2>Purchase Request with Lines</h2></span>
		<span class="CreateNew"><a routerLink="/purchaserequestlineitems/add/{{purchaserequestandlines.PurchaseRequest.PurchaseRequestID}}">Add New</a></span></div>
		<!-- *ngIf looks at variable "products" in component; if null, table remains unfilled, once table is populated, it fills -->
	<table class="table">
		<tr>
			<th>Description</th>
			<th>Status</th>
			<th>Total</th>
		</tr>
		<tr>
			<td>{{purchaserequestandlines.PurchaseRequest.Description}}</td>
			<td>{{purchaserequestandlines.PurchaseRequest.Status}}</td>
			<td>{{purchaserequestandlines.PurchaseRequest.Total | currency:'USD':true}} </td>
			<!-- <td>Actions</td> -->
		</tr>
		<tr>
			<th>Product</th>
			<th>Quantity</th>
			<th>Subtotal</th>
			<th>Actions</th>
		</tr>
		<tr *ngFor="let purchaserequestlineitem of purchaserequestandlines.PurchaseRequestLineItems">
			<td>{{purchaserequestlineitem.Product.Name}}</td>
			<td>{{purchaserequestlineitem.Quantity}}</td>
			<td>{{purchaserequestlineitem.Quantity * purchaserequestlineitem.Product.Price | currency:'USD':true}} </td>
				<!-- passes ID into remove() function inside component -->
			<td><a (click)="remove(purchaserequestlineitem.PurchaseRequestLineItemID)">Delete</a>
				<a routerLink="/purchaserequestlineitems/edit/{{purchaserequestlineitem.PurchaseRequestLineItemID}}">Edit</a></td>
		</tr>
	</table>
</div>
