<menu-comp></menu-comp>
<div>

	<div><span class="jumbotron"><h2>Purchase Request Detail</h2></span>
		<span class="CreateNew"><a routerLink="/purchaserequests/add">Add New</a></span>
	</div>

	<table class="table" *ngIf="purchaserequest">
		<tr><th>Description</th><td>{{purchaserequest.Description}}</td></tr>
		<tr><th>Justification</th><td>{{purchaserequest.Justification}}</td></tr>
		<tr><th>Rejection Reason</th><td>{{purchaserequest.RejectionReason}}</td></tr>
		<tr><th>Date Needed</th><td>{{purchaserequest.DateNeeded}}</td></tr>
		<tr><th>Date Submitted</th><td>{{purchaserequest.DateSubmitted}}</td></tr>
		<tr><th>Delivery Mode</th><td>{{purchaserequest.DeliveryMode}}</td></tr>
		<tr><th>Status</th><td>{{purchaserequest.Status}}</td></tr>
		<tr><th>Total</th><td>{{purchaserequest.Total}}</td></tr>
		<tr><th>User</th><td>{{purchaserequest.User.UserName}}</td></tr>
	</table>
		
	<div class="text-center" *ngIf="purchaserequest">
		<button class="btn btn-danger" (click)="remove()">Delete</button>
				<!-- review button appears only if Status = New or REJECTED -->
			<button class="btn btn-primary" (click)="review()" *ngIf="purchaserequest.Status == 'New'">Review</button>
	</div>

</div>