<menu-comp></menu-comp>
<div>

	<div><span class="jumbotron"><h2>Review List</h2></span>
		<span class="CreateNew"><a routerLink="/purchaserequests/add">Add New</a></span></div>
		<!-- *ngIf looks at variable "products" in component; if null, table remains unfilled, once table is populated, it fills -->
	<table class="table" *ngIf="purchaserequests">
		<tr>
			<th>Description</th>
			<th>Justification</th>
			<th>Rejection Reason</th>
			<th>Date Needed</th>
			<th>Date Submitted</th>
			<th>Delivery Mode</th>
			<th>Status</th>
			<th>Total</th>
			<th>User</th>
			<th>Actions</th>
		</tr>
			<!-- for each loop-->
		<tr *ngFor="let purchaserequest of purchaserequests">
			<td>{{purchaserequest.Description}}</td>
			<td>{{purchaserequest.Justification}}</td>
			<td>{{purchaserequest.RejectionReason}} </td>
			<td>{{purchaserequest.DateNeeded | date:'M/d/y'}} </td>
			<td>{{purchaserequest.SubmittedDate | date:'M/d/y'}} </td>
			<td>{{purchaserequest.DeliveryMode}} </td>
			<td>{{purchaserequest.Status}} </td>
			<td>{{purchaserequest.Total}} </td>
			<td>{{purchaserequest.User.UserName}} </td>
			<td>
				<a routerLink="/purchaserequestlineitems/GetByPurchaseRequestID/{{purchaserequest.PurchaseRequestID}}">Select</a>
			</td>
		</tr>
	</table>
</div>
