<menu-comp></menu-comp>
<div>

	<div><span class="jumbotron"><h2>User List</h2></span>
		<span class="CreateNew"><a routerLink="/users/add">Add New</a></span></div>
		<!-- *ngIf looks at variable "users" in component; if null, table remains unfilled, once table is populated, it fills -->
	<table class="table" *ngIf="users">
		<tr>
			<th>Name</th>
			<th>User Name</th>
			<th>Phone</th>
			<th>Email</th>
			<th>Reviewer</th>
			<th>Admin</th>
			<th>Actions</th>
		</tr>
			<!-- for each loop-->
		<tr *ngFor="let user of users">
			<td>{{user.FirstName}} {{user.LastName}}</td>
			<td>{{user.UserName}}</td>
			<td>{{user.Phone}} </td>
			<td>{{user.Email}} </td>
			<td *ngIf="user.IsReviewer">Yes</td>
			<td *ngIf="!user.IsReviewer">&nbsp;</td>
			<td *ngIf="user.IsAdmin">Yes</td>
			<td *ngIf="!user.IsAdmin">&nbsp;</td>
			<td>
				<a routerLink="/users/detail/{{user.UserID}}">Detail</a>
				<a routerLink="/users/edit/{{user.UserID}}">Edit</a>
			</td>
		</tr>
	</table>
</div>
